<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="!isDesktop"  slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    {{ user.profession }} INFO
    <ion-buttons *ngIf="isDesktop"  slot="end">
      <ion-button (click)="back()" >Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img width="25px" *ngIf="user.profession == 'Doctor'" height="25px" src="https://i.pinimg.com/originals/26/4e/30/264e30439c42387c1e3c48d2d038429d.png">
        <img width="25px" *ngIf="user.profession == 'Nurse'" height="25px" src="https://i.pinimg.com/originals/26/45/bf/2645bff0709e4cf23bcaff6690965816.png">
    </ion-avatar>
    <ion-label>
      <h3> Name : {{  user.username }}</h3>
      <p>Added {{  user.createdAt  | date:'shortDate' }}</p>
      <p>Profession {{  user.profession   }}</p>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-list-header>
       Shifts Timings by {{ user.profession }}  {{  user.username }}
    </ion-list-header>

    <ion-item  *ngFor="let shift of shifts" >
      <ion-label>
        <p> <b>Patient UHID : </b> {{ shift.uhid }}</p>
        <p> <b>Notes : </b> {{ shift.notes }}</p>
        <p> time {{ shift.time  | date:'shortTime' }}</p>
        <p> date {{ shift.time | date:'shortDate' }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>


  
  