<ion-header  *ngIf="!isDesktop">
  <ion-toolbar color='primary'>
    <ion-title>Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <th>Name</th>
      <th>Bed ID</th>
      <th>
        <h6>Last Updated by</h6>
      </th>
    </tr>
    <tr  (click)="openDetails(patient._id)"  *ngFor="let patient of patients" >
      <td>{{ patient.name }} <span class="id"><b>({{patient.uhid}})</b></span> </td>
      <td>{{ patient.bedno }}</td>
      <td>{{ patient.updatedBy }} <span class="id"><br><b>[ {{ patient.lastUpdatedAt  | date:'shortTime' }} {{ patient.lastUpdatedAt  | date:'shortDate' }}]</b></span> </td>
    </tr>


  </table>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button *ngIf="!isDesktop" (click)="add()" color="primary">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
    <ion-button   *ngIf="isDesktop" (click)="add()" color="danger">  <ion-icon name="person-add-outline"></ion-icon>  Add Patient </ion-button>
  </ion-fab>
</ion-content>
