<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">
 
      <ion-card>
   <center>   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRmPOEhsPtycihkUh1xvFCeeM7-OZ8_9dn4atrTqG_y1W9fcY&shttps://scontent.fhyd11-1.fna.fbcdn.net/v/t1.0-9/p960x960/30716250_361467507672841_2643162847219023872_o.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=Kb7q7GTwNg4AX9Uarxa&_nc_ht=scontent.fhyd11-1.fna&_nc_tp=6&oh=e47fff3db7ac9566b72878d3ac7f0777&oe=5F35561E">
   </center>    <ion-card-header>
          <ion-card-title class="ion-text-center">Hospy Handover Tool</ion-card-title>
        </ion-card-header>
 
        <ion-card-content>
 
          <ion-item lines="none">
            <ion-label position="stacked">Username</ion-label>
            <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="credentials.username"></ion-input>
          </ion-item>
 
          <ion-item lines="none">
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password">
            </ion-input>
          </ion-item>
 
          <ion-button class="ion-margin-top ion-padding-horizontal" (click)="login()" expand="block" [disabled]="credentials.username == '' || credentials.password == ''">Login</ion-button>
          <ion-button class="ion-padding-horizontal" expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register
          </ion-button>
 
        </ion-card-content>
      </ion-card>
 
    </ion-col>
  </ion-row>
 
</ion-content>